workflows/GymBroWorkflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "5db4ec5f-19eb-411b-9a42-10978a394fd0",
      "name": "Telegram Trigger",
      "webhookId": "055ac22b-8f35-4742-a566-cc0ea289011b",
      "credentials": {
        "telegramApi": {
          "id": "0EgcWbFXwocVcvM0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "=# Role\nYou are GymBro — a friendly, accurate, fitness-focused AI assistant. Your main job is to help the user track their workouts like a personal training diary.\n\n# Goals\n1. Save workout data calling saveRep tool.\n2. Classify exercises the user mentions. The same exercise MUST always has the same id for saveRep tool.\n3. Ask clarifying questions ONLY if needed to accurately log the workout.\n4. Never invent exercises or numbers — use only what the user gives you.\n5. Create short summary of user's progress is specified exercise by calling getProgress tool.\n\n# Behavior\n1. When the user describes what they did, extract all data necessary for saveRep tool and call it.\n2. If amount of sets not provided assume it is for 1 set.\n3. Assume input in kg.\n4. If some information is missing (e.g., sets, weight or exercise) politely ask for clarification.\n5. Always confirm when new entries are added with short phrase. Do not ask anything after.\n6. You MUST not provide any information until user asks.\n\n# Tools\n1. saveRep - use this tool when you have all information about one rep to save data in database. You MUST provide only these 5 parameters:\n  - exercise_id — integer\n  - reps — integer\n  - weight — number (can be decimal)\n  - chat_id — {{ $json.message.chat.id }}\n  - exercise_name - string\n2. getTraining - use this tool when user wants to get all trainig data for provided day. You MUST provide day as parameter to get data.\n3. getProgress - use this tool when user wants to know about his progress in specfified exercise. You MUST provide exercise id as parameter to get data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        656,
        0
      ],
      "id": "4a1ab875-7081-4bd5-bfc4-7405fcce9724",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5.2-chat-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        448,
        208
      ],
      "id": "d70ac06a-4f4f-446d-a23e-f5665793b187",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jYqGgu7bQPZVylv7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        640,
        272
      ],
      "id": "e6a7e05a-b945-44ef-911a-4273fb37d040",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "iwAAYnywic2KELJa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "properties: [\n  {\n    displayName: 'Exercise ID',\n    name: 'exercise_id',\n    type: 'number',\n    required: true,\n  },\n  {\n    displayName: 'Reps',\n    name: 'reps',\n    type: 'number',\n    required: true,\n  },\n  {\n    displayName: 'Weight',\n    name: 'weight',\n    type: 'number',\n    required: true,\n  },\n  {\n    displayName: 'Chat',\n    name: 'chat_id',\n    type: 'number',\n    required: true,\n  },\n  {\n    displayName: 'Exercise name',\n    name: 'exercise_name',\n    type: 'string',\n    required: true,\n  },\n]",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "workout_entries",
          "mode": "list",
          "cachedResultName": "workout_entries"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "exercise_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('exercise_id', ``, 'number') }}",
            "reps": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reps', ``, 'number') }}",
            "weight": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('weight', ``, 'number') }}",
            "chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "exercise_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('exercise_name', ``, 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "exercise_id",
              "displayName": "exercise_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "reps",
              "displayName": "reps",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "weight",
              "displayName": "weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "exercise_name",
              "displayName": "exercise_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        976,
        240
      ],
      "id": "8ed8ee39-e297-4173-854f-c7d3cf5c8378",
      "name": "saveRep",
      "credentials": {
        "postgres": {
          "id": "iwAAYnywic2KELJa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        0
      ],
      "id": "50a4f80e-52bf-497f-a89a-12b6e40cfa07",
      "name": "Send a text message1",
      "webhookId": "d9acf13a-a571-4f30-8655-a0dfc68fe0dd",
      "credentials": {
        "telegramApi": {
          "id": "0EgcWbFXwocVcvM0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "getTraining - tool to get all data about one day of workout. ",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "workout_entries",
          "mode": "list",
          "cachedResultName": "workout_entries"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "created_at",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `The day of training`, 'string') }}"
            },
            {
              "column": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        912,
        352
      ],
      "id": "3f0701a8-0ffc-4c15-800a-1e44e1d8e976",
      "name": "getTraining",
      "credentials": {
        "postgres": {
          "id": "iwAAYnywic2KELJa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "getProgress - tool to get all historical data about one exercise for further progress analysis.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "workout_entries",
          "mode": "list",
          "cachedResultName": "workout_entries"
        },
        "limit": 150,
        "where": {
          "values": [
            {
              "column": "exercise_id",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `Exercise id that matches with exercise that user wants to know about`, 'string') }}"
            },
            {
              "column": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        784,
        352
      ],
      "id": "9b4e4f9c-fce2-4c6c-9a2a-cfd606725a5a",
      "name": "getProgress",
      "credentials": {
        "postgres": {
          "id": "iwAAYnywic2KELJa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        0
      ],
      "id": "6c94d02a-3dcd-40d3-bdee-bb25e2016157",
      "name": "Send a chat action1",
      "webhookId": "ff29313a-0c03-4329-9bd2-511bc25dd33a",
      "credentials": {
        "telegramApi": {
          "id": "0EgcWbFXwocVcvM0",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send a chat action1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "saveRep": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getTraining": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getProgress": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f6ba94a-2423-44ed-a2d5-2391dba3b195",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d6053d3e1820b9a936c5e540facbcf48afd788237b967e50f9928b644dc9261"
  },
  "id": "MknPjkYAdZX0yCTD",
  "tags": []
}